<div class="topbar">
	<header class="topbar">
		<nav>
			<ul>
				<li class="logo">Screwfix Calendar</li>
				<li><a n:href="Home:home">Home Calendar</a></li>
				<li><a n:href="User: {$user}">My Calendar</a></li>
			</ul>
		</nav>	
	</header>
</div>