a {	
	&, &:visited, &:hover {
		color: inherit;
		text-decoration: none;
	}
}

html {
	font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
}

body {
	font-size: 0.875em; /* 14/16 */
}

h1 {
	font-size: 1.42857em /* 20/14 */;
	line-height: $line-height-h1;
	height: $line-height * 4;
}

.highlight {
	background-color: $color-highlight;
	color: $text-color-highlight;
}
