/* text colors */
/* basic color of text */
/* color of text on hightligt */
/* fonts */
/* line height */
/* heights - should multiplies of $line-height */
/* background colors */
/*$color-highlight: rgb(0, 114, 198);  skydrive color */
/* screwfix color */
/* padding */
/* line 17, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../../sass/sass/partials/_common.scss */
a, a:visited, a:hover {
  color: inherit;
  text-decoration: none;
}

/* line 8, ../../sass/sass/partials/_common.scss */
html {
  font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
}

/* line 12, ../../sass/sass/partials/_common.scss */
body {
  font-size: 0.875em;
  /* 14/16 */
}

/* line 16, ../../sass/sass/partials/_common.scss */
h1 {
  font-size: 1.42857em;
  line-height: 40px;
  height: 40px;
}

/* line 22, ../../sass/sass/partials/_common.scss */
.highlight {
  background-color: #3074b6;
  color: white;
}

/* line 1, ../../sass/sass/partials/_main_bar.scss */
#main_bar {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
}
/* line 6, ../../sass/sass/partials/_main_bar.scss */
#main_bar ul li {
  float: left;
  margin-right: 10px;
}
/* line 11, ../../sass/sass/partials/_main_bar.scss */
#main_bar .authentication {
  float: right;
}

/* line 10, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px;
}
/* line 18, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 40px;
}

/* line 20, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 40px;
}

/* line 1, ../../sass/sass/calendar/partials/calendar.scss */
#main_content {
  height: 100%;
}

/* line 5, ../../sass/sass/calendar/partials/calendar.scss */
#calendar_bar {
  height: 40px;
  padding: 0 15px;
}

/* line 9, ../../sass/sass/calendar/partials/calendar.scss */
#calendar .hide {
  display: none;
}

/* sass/calendar/partials/table.scss */
/* line 4, ../../sass/sass/calendar/partials/table.scss */
#calendar table {
  width: 100%;
  background: #f0f0f0;
}
/* line 14, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
#calendar table th, #calendar table td {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left-width: 0px;
  border-top-width: 0px;
}
/* line 21, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
#calendar table th:last-child, #calendar table th.last, #calendar table td:last-child, #calendar table td.last {
  border-right-width: 0px;
}
/* line 29, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
#calendar table tbody tr:last-child th, #calendar table tbody tr:last-child td, #calendar table tfoot tr:last-child th, #calendar table tfoot tr:last-child td {
  border-bottom-width: 0px;
}
/* line 32, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
#calendar table tbody tr.last th, #calendar table tbody tr.last td, #calendar table tfoot tr.last th, #calendar table tfoot tr.last td {
  border-bottom-width: 0px;
}
/* line 8, ../../sass/sass/calendar/partials/table.scss */
#calendar table th, #calendar table td {
  width: 14%;
  line-height: 20px;
}
/* line 12, ../../sass/sass/calendar/partials/table.scss */
#calendar table th {
  height: 30px;
  line-heit: 30px;
  padding: 0 10px;
}
/* line 17, ../../sass/sass/calendar/partials/table.scss */
#calendar table td {
  vertical-align: top;
}
/* line 20, ../../sass/sass/calendar/partials/table.scss */
#calendar table div {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
/* line 25, ../../sass/sass/calendar/partials/table.scss */
#calendar table .highlight {
  background-color: #3074b6;
}
/* line 28, ../../sass/sass/calendar/partials/table.scss */
#calendar table .cell {
  height: 100%;
  width: 100%;
}
